* {
  box-sizing: border-box;
  margin: 0px;
  background-color: blue;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:aqua;
}

h1 {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}

div {
  text-align: center;
}
figure {
  width: 33%;
  height: auto;
    display: inline-block;
}
@media screen and (max-width: 768px) {
figure {
  height: auto;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
}

img {
    width: 100%;
    object-fit: cover;
}