<h1>
Ejercicio 11
</h1>

<hr>
<app-upper-lower></app-upper-lower>

<hr>
<h4>FACTORIAL</h4>
<input type="text" name="fact" [(ngModel)]="num1">
<p> Resultado: {{num1 | factorial}}</p>

<hr>
<h4>SUMATORIO</h4>
<input type="text" name="sumat" [(ngModel)]="num2">
<p> Resultado: {{num2 | sumatorio}}</p>

<hr>
<h4>CUBO</h4>
<input type="text" name="cubo" [(ngModel)]="num3">
<input type="text" name="cubo" [(ngModel)]="num4">
<p> Resultado: {{num3 | cubo:num4}}</p>

<hr>
<h4>CUADRADO</h4>
<input type="text" name="cuad" [(ngModel)]="num5">
<input type="text" name="cuad" [(ngModel)]="num6">
<p> Resultado: {{num5 | cuadrado:num6}}</p>