<h1>
  {{title}}
</h1>
<br><br/>
<app-dir-if>
  
  <a class="nav-link active" routerLink="/DirIfComponent" routerLinkActive="activelink">CONATCTO</a>

</app-dir-if>
<br/>
<app-for>
  <a class="nav-link active" routerLink="/ForComponent" routerLinkActive="activelink">CONATCTO</a>
</app-for>
<br/>

<app-switch> 

  <a class="nav-link active" routerLink="/SwitchComponent" routerLinkActive="activelink">CONATCTO</a>
</app-switch>
<br/>

<br/>
<app-style>
  <a class="nav-link active" routerLink="/StyleComponent" routerLinkActive="activelink">INICIO</a> </app-style>

<br/><br/>
<router-outlet></router-outlet>