
<h2>{{title}}</h2>

<b ngNonBindable>JsonPipe sobre una persona (objeto): {{persona1 | json}}</b>
<pre> {{persona1 | json}} </pre>
<b ngNonBindable>JsonPipe sobre una persona (objeto): {{persona2 | json}}</b>
<pre> {{persona2 | json}} </pre>
<b ngNonBindable>JsonPipe sobre una persona (objeto): {{persona3 | json}}</b>
<pre> {{persona3 | json}} </pre>
<b ngNonBindable>JsonPipe sobre una persona (objeto): {{persona4 | json}}</b>
<pre> {{persona4 | json}} </pre>

<b ngNonBindable>JsonPipe sobre el array de pais (array de objetos): {{paisArray | json}} </b>
<pre>{{pais1 | json}}</pre>



<b ngNonBindable>JsonPipe sobre contienente (objeto de objetos): {{continente | json}}</b>
<pre>{{continente | json}}</pre>