* {
  box-sizing: border-box;
  margin: 30px;
  font-family: pattaya;
  
}
body{
  display: flex;
  flex-direction: column;
}

h1{
  margin: 10px;
}
video{
  width:640px;
   height:360px;
}
.controls{
  width: 200px;
  height: 100px;
}

::cue {
  background-image: linear-gradient(to bottom, dimgray, lightgray);
  color: papayawhip;
}

::cue(b) {
  color: peachpuff;
}
